body {
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
	font-weight: 400;
	box-sizing: border-box;
}

.margin_site {
	margin: 0 auto;
	box-sizing: border-box;
}

.padding-site {
	padding: 50px;
}

.header {
	width: 100%;
	background-color: #445162;
}

.header:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.header-text {
	color: #ffffff;
	font-weight: 400;
	float: left;
}

.header-h1 {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
font-size: 60px;
}

.header-list {
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	line-height: 36px;
	left: 35px;
}

.header-list-item {
position: relative;
}

.header-list-item:before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	background-image: url(../img/check_icon.png);
	background-size: cover;
	top: 7px;
	left: -35px;
}

.header-img {
	display: block;
	background-color: #fff;
	float: right;
	text-align: center;
}

.About_product:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.About_product_text {
	float: left;
	width: 650px;
	margin: 0 100px 0 0;
}

.h2_About_product {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

.p1_About_product,
.p2_About_product {
color: #333333;
font-size: 16px;
line-height: 24px;
}

.About_product_video {
	display: block; 
	float: right; 
}

.Dignity-and-pluses-product {
	background-color: #f5f5f5;
}

.Dignity-and-pluses-product:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.Dignity_product {
	color: #445161;
}

.Dignity_product_h2 {
	display: block;
	text-align: center;
	margin: 0 0 25px 0;
	font-size: 30px;
	line-height: 18px;
}

.Dignity_details_content {
		outline: none;
	}

.Dignity_details_content::-webkit-details-marker {
	display: none;
}

.Dignity_details_content::after {
	background: #445161;
	content: "+";
	color: #ffffff;
	float: left;
	font-weight: bolder;
	margin: -36px 0 0 -21px;
	text-align: center;
	width: 16px;
	height: 16px;
}

.Dignity_details[open] .Dignity_details_content::after {
	content: "-";
}

.Dignity1 {
	float: left;
}

.Dignity2 {
	float: right;
}

.Dignity1,
.Dignity2 {
	width: 527px;
	color: #333333;
}

.Dignity_details {
	margin: 0 0 15px 0;
}

.Dignity_details > p {
	margin: 0;
}

.Screenshots-wrp {
	width: 100%;
	display: flex;
	background-color: #fff;
	padding: 0;
	box-sizing: border-box;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.Screenshot-h2 {
	text-align: center;
	width: 100%;
	margin: 0 0 30px;
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}
.Screenshot-figure {
	box-sizing: border-box;
	width: 575px; 
	min-height: 150px;
	margin: 0 0 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.Screenshot-figure:nth-child(4),
.Screenshot-figure:nth-child(5) {
	margin: 0;
}

.Screenshot-img {
	display: block;
	background-color: #445161;
	color: #fff;
	text-align: center;
}

.Screenshot-figcaption {
	width: 360px;
}

.Screenshot-item-h3 {
	display: block;
	text-align: center;
	margin: 0 0 5px;
	color: #445161;
	font-size: 24px;
	line-height: 30px;
}

.Screenshot-item-content {
	margin: 0;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.Reviwes {
	width: 1280px;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.Reviwes-h2 {
	display: block;
	width: 100%;
	text-align: center;
	color: #445161;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 35px;
}

.Reviwes-user {
	box-sizing: border-box;
	width: 575px;
	display: flex;
	flex-wrap: wrap;
}

.Reviwes-photo {
	display: block;
	width: 75px;
	border-radius: 50%;
	background-color: #445161;
	text-align: center;
	color: #fff;
}

.Reviwes-p {
	width: 470px;
	margin: 0 0 25px 30px;
	padding:15px;
	color: #333333;
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	background-color: #ebebeb;
	box-sizing: border-box;
	border-radius: 5px;
}

.Reviwes-user:nth-child(4) > .Reviwes-p,
.Reviwes-user:nth-child(5) > .Reviwes-p {
	margin: 0 0 0 30px;
}

.Reviwes-p p {
	margin: 0;
	padding: 0
}

.User-link {
	display: block;
	margin: 10px 0 0;
	color: #989898;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
}

.Reviwes-triangle {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 15px solid #ebebeb;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
}

.Reviwes > span:nth-child(6) {
	top: 143px;
	left: 140px
}

.Reviwes > span:nth-child(7) {
	top: 143px;
	left: 745px;
}

.Reviwes > span:nth-child(8) {
	top: 300px;
	left: 140px
}

.Reviwes > span:nth-child(9) {
	top: 300px;
	left: 745px;
}

.ByItNnow {
	padding: 50px 145px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.ByItNnow-h2 {
	display: block;
	width: 100%;
	text-align: center;
	color: #445161;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 10px;
}
.ByItNnow-standart,
.ByItNnow-premium,
.ByItNnow-lux {
	width: 300px;
	min-height: 306px;
	display: flex;
	flex-wrap: wrap;
	background-color: #445162;
	border-radius: 5px;
}

.Standart,
.Premium,
.Lux {
	display: block;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	line-height: 50px;

}

.price {
	display: block;
	width: 100%;
	height: 70px;
	background-color: #fff;
	border: 2px solid #445162;
	border-top: none;
	border-bottom: none;
	color: #445162;
	font-size: 40px;
	line-height: 70px;
	text-align: center;
}
.Standart-list,
.Premium-list,
.Lux-list{
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
}

.ByItNnow-button {
	display: block;
	width: 260px;
	height: 40px;
	background-color: #ffffff;
	color: #445161;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 20px 20px;
	border: none;
	border-radius: 5px;
}
.footer {}
.footer-contacts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 50px 250px;
	background-color: #445162;
}

.footer-h2 {
	width: 100%;
	margin: 0 0 25px;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	line-height: 36px;
}

.input {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
}

.footer-input-your-name,
.footer-input-your-email,
.footer-input-your-message {
	width: 500px;
	min-height: 40px;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 5px;
	border: none;
	border-radius: 5px;
	color: #445162;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.footer-input-your-email {}
.footer-input-your-message {
	min-height: 170px;
}

.footer-button {
	display: block;
	margin: auto;
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	color: #445162;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
}
.social-contacts {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 70px;
/*	outline: 1px solid green*/
}

.skype,
.icq,
.email {
	margin: 0 0 25px
}

.skype,
.icq,
.email,
.phone {
position: relative;
}


.skype:before,
.icq:before,
.email:before,
.phone:before {
	content: "";
	display: block;
	width: 24px;
	height: 26px;
	position: absolute;
	background-size: cover;
	top: 0px;
	left: -35px;
}

.skype:before {
	background-image: url(../img/skype_icon.png);
}

.icq:before {
	background-image: url(../img/icq_icon.png);
}

.email:before {
	background-image: url(../img/email_icon.png);
}

.phone:before {
	background-image: url(../img/phone_icon.png);
}

.skype-link,
.icq-link,
.email-link,
.phone-link {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 25px;
}

.social-network {}

.social-networks-link {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 30px;
	left: 30px;
}

.logo,
.logo > img {
	width: 43px;
	height: 43px;
	margin: 0 5px 0 0;
}

.footer-info-txt {
	display: block;
	width: 100%;
	background-color: #ccc;
	text-align: center;
	font-size: 12px;
	border: none;
	color: #445162
}